*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

table {
    width: 95%;
    margin-top: 20px;
    border-style: solid;
    border-collapse: collapse;
    justify-self: center;
}

th, td{
    padding: 15px;
    text-align: center;
}